h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  text-align: center;
  border:2px double white;
 /* background-color:darkgrey;*/
  border-radius:25px;
  
}

.name_text{
  height:30px;
  border-radius:5px;

}

heading{
  /*background-color:darkgrey;*/
  color:pink;
/*  border-radius:25px;*/
}
#choices1{
  display:none;
  text-align: center;
}
#choices2{
  display:none;
  text-align: center;

}


.choice{
  cursor:pointer;
  font-size:1.5em;

}
.choice:hover{
  border:2px solid yellow;
  margin:0px 15px;
}

h2{
	text-align:center;
}

/*.panel {
	padding:10px;
}*/



.name_area {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: palegreen;
  background-color: darkgrey;
  text-align: center;
  width:100%;
  padding:0px 10px;
  border:2px solid lavender;

}
.bold{
	font-weight:bold;
}
#chatText{
  
}
#chatLog{
  min-height: 100px;
  width:100%;
  height:auto;
  background-color:darkgrey;
}
.pane{
  padding:15px 15px;
  border: 2px double lightblue;
  text-align:center;
  border-radius:25px;
   /*  border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;*/
}

body {
    background-image: url("../images/rock3.jpg") ;
    background-size:cover;
    min-height:100vh;
    background-repeat:no-repeat;
    color: #000000 ;
    font-family: 'Roboto', sans-serif;
}
#blue{
  background-color:darkgrey;
}
.btn{
  margin-top: 10px;
  height:auto;
  cursor: pointer;
  font-size:20px;
  font-weight:bold;
}
#fightcontents{
  text-align:center;
  font-size: 30px;
  background-image: url("../images/paper.png");
  height:300px;
  width:100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*.panel-heading {
    background-color:darkgrey;
    color:palegreen;
    

}*/

.info_area {
  margin-top: 10px;
    background-color: grey ;
    padding:10px 5px;
    border: 2px solid lavender;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
hr{
  margin:10px 20px 0px 20px;
}

#button {
    background-color: #BEBBBB ;
    color: #4B5142 ;
}
.chartData{
	
}
/*media 1000px 750px 600px 450*/